<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.code13.springbootdatasource.mapper.YunUserMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            user_id,
            avatar,
            wxcode,
            account,
            password,
            salt,
            name,
            birthday,
            sex,
            email,
            phone,
            role_id,
            dept_id,
            status,
            company_id,
            type,
            create_time,
            create_user,
            update_time,
            update_user,
            version
    </sql>

</mapper>
